/* Define Base Variables That will be reused */
:root {
  /* variables */
  /* colors */
  --tiffany-blue: #2ec4b6ff;
  --aero-blue: #b8f2e6ff;
  --rose-madder: #e71d36ff;
  /* --melon: #ffa69eff; */
  --melon: rgb(250, 109, 96);

  --manatee: #8e9aafff;
  --languid-lavender: #cbc0d3ff;
  --pale-pink: #efd3d7ff;
  --pale-purple-pantone: #feeafaff;
  --lavender-web: #dee2ffff;
}

body {
  background-color: var(--manatee);
}

/* ################################# */
/* ###### PAGE CONTENT STYLES ###### */
/* ################################# */

.page__content {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1.5rem 0;

  background-color: inherit;
}

.content__container {
  position: relative;
  width: fit-content;
  width: 90%;
  max-width: 500px;
  height: 100%;
  max-height: 100%;

  margin: 0 auto;
  padding: 0.75rem 1rem;

  display: flex;
  flex-direction: column;
  background-color: var(--lavender-web);
  border-radius: 1rem;
}

/* ################################# */
/* ##### APP COMPONENT STYLES ###### */
/* ################################# */

#page__title {
  margin: 0 0 0.5rem;
  font-size: 1.75rem;
  text-transform: capitalize;
}

.app__section {
  margin: 0;
}
.app__title {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
  text-transform: capitalize;
}

/* ################################## */
/* ###  TASK ADDITION FORM STYLES ### */
/* ################################## */

#task-add-form {
  display: flex;
  flex-direction: row;
}
#task-add-form > * {
  padding: 0.5rem 0.25rem;
  outline: none;
}
#task-add-input {
  border-radius: 0.5rem 0 0 0.5rem;
}
#task-add-input:hover,
#task-add-input:focus {
  outline: 0.15rem solid #454545;
}
#task-add-btn {
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--aero-blue);
  color: black;
}
#task-add-btn:hover,
#task-add-btn:focus {
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: var(--tiffany-blue);
  color: white;
  outline: 0.15rem solid black;
}

/* ################################## */
/* ### HORIXZONTAL dIVIDER STYLES ### */
/* ################################## */

.app__divider {
  width: calc(100% + 1.5rem);
  height: 0.2rem;
  background-color: black;
  margin: 0.5rem 0 0.5rem -0.75rem;
}

/* ################################# */
/* ##### LIST SECTION STYLES ####### */
/* ################################# */

.list__section {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.todo__list {
  padding: 0.5rem;
  flex-grow: 1;
  background-color: var(--languid-lavender);
  border-radius: 0.5rem;
  overflow-y: scroll;
}
.todo__item {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 0.5rem;
  padding: 0.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
}
.todo__checkbox {
  display: none; /*Hidden till i find a way to save value in web storage*/
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  margin: 0.5rem;
}
.todo__text {
  flex-grow: 1;
  font-size: 1.25rem;
}
.todo__deleteBtn {
  display: block;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  margin: 0.5rem;
  font-size: 2rem;

  background-color: var(--melon);
  border-radius: 0.25rem;
}
.todo__deleteBtn:hover,
.todo__deleteBtn:focus {
  background-color: var(--rose-madder);
  outline: 0.15rem solid black;
}

/* ################################# */
/* ##### LIST CONTROLS STYLES ###### */
/* ################################# */

#delete-all-btn {
  padding: 0.25rem 0.5rem;
  background-color: var(--melon);
  font-size: 1.2rem;
  color: white;

  border-radius: 0.1rem;
  cursor: pointer;
}
#delete-all-btn:hover,
#delete-all-btn:focus {
  background-color: var(--rose-madder);
  color: white;
  outline: 0.15rem solid black;
}

/* ################################# */
/* ##### COMMON ELEMENT STYLES ##### */
/* ################################# */
.center__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
